CommonLib.Core/Security/UseCrypto/dsPKCS7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="dsPKCS7" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:appinfo source="urn:schemas-microsoft-com:xml-msdatasource">
			<DataSource DefaultConnectionIndex="0" FunctionsComponentName="QueriesTableAdapter" Modifier="AutoLayout, AnsiClass, Class, Public" SchemaSerializationMode="IncludeSchema" xmlns="urn:schemas-microsoft-com:xml-msdatasource">
				<Connections />
				<Tables />
				<Sources />
			</DataSource>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="dsPKCS7">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pkcs7Envelop">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UniqueID"  type="xs:string" minOccurs="0" />
							<xs:element name="NotBefore"  type="xs:string" minOccurs="0" />
							<xs:element name="NotAfter"  type="xs:string" minOccurs="0" />
							<xs:element name="Subject"  type="xs:string" minOccurs="0" />
							<xs:element name="Issuer"  type="xs:string" minOccurs="0" />
							<xs:element name="DataToSign"  type="xs:string" minOccurs="0" />
							<xs:element name="DataSignature"  type="xs:string" minOccurs="0" />
							<xs:element name="Message"  type="xs:string" minOccurs="0" />
							<xs:element name="ActionTime"  type="xs:dateTime" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>